<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdy60_ge5">

    <application>
        <service
            android:name="com.example.sdy60_ge5.TrackerService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
